:root {
    --ham: url('./images/list.svg');
}

body {
    background-color: #000000;
}

.btn {
    border-radius: 2rem;
    padding: 0.3rem 0.8rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
}

.drop {
    padding: 0;
    margin: 0;
}

.container-fluid {
    background-color: rgb(24, 24, 24);
}

.navbar {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
}

.collapse {
    /* margin-right: 200px; */

}

.smm {
    /* justify-content: center; */
    margin-left: 27%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-light .navbar-toggler {
    border: 1px solid white;
    background-color: #414141;
}

.hero {
    color: white !important;
}

.row {
    /* /* margin-bottom: 40px; */
    align-items: center;
    justify-content: center;

}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.space {
    margin-top: 2rem;
}

.sticky {
    position: fixed;
    z-index: 1;
    margin-top: 55px;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
}

.card-img {
    /* height: 645px;
    min-height: 350px; */
    
    object-fit: cover;
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.frow {
    border: 1px solid gray;
    border-radius: 10px;
    /* padding-left: 3.5rem; */
    background-image: url("./images/lights.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
}

.just {
    text-align: justify;
}

footer {
    background-color: rgb(24, 24, 24);
}

.text-body-secondary {
    color: white;
}

.offcanvas-header {
    background-color: black;
}

.offcanvas-title {
    color: white;
}

.btn-close {
    background-color: white;
}

.cen {
    margin-bottom: 2rem;
    width: 300px;
}

.gal {
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
}

@media (max-width: 768px) {

    .container,
    .container-sm {
        /* max-width: 301px; */
    }
    .gal{
        padding:10px 0px 10px 0px;
    }
}
@media (max-width: 1199px) {

    .container,
    .container-sm {
        min-width: 768;
    }
}

/* @media (max-width: 992px){
.pt-lg-3 {
    padding-top: 3rem!important;
}
} */

@media(max-width:576px){
    /* Small */
    .card-img {
        height: 380px;
    }
}
@media(max-width:768px){
    /* md */
    .card-img {
        height: 390px;
    }
}
@media(max-width:992px){
    /* lg */
    .card-img {
        height: 400px;
    }
}
@media(max-width:1200px){
    /* xl */
    .card-img {
        height: 410px;
    }
}
@media(max-width:1400px){
    /* xxl */
    .card-img {
        height: 450px;
    }
}
@media(max-width:2000px){
    /* xxl */
    .card-img {
        height: 500px;
    }
}
